@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
}

:root {
    --text--color-: #fff;
    --bg--color: #191f36;
    --snd--bg-color: #262840;
    --main--color: #5982f4;
}

html {
    overflow-x: hidden;
}

body {
    background-color: var(--bg--color);
}

section {
    min-height: 100vh;
    padding: 80px 142px 12px;
}

@media (max-width: 1100px) {
    section {
        padding: 80px 22px 12px;
    }
}

/* HEADER-SECTION */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background: var(--bg--color);
    padding: 20px 142px;
}

@media (max-width: 1100px) {
    header {
        padding: 20px 22px;
    }

}

.logo {
    font-size: 25px;
    font-weight: 700;
    cursor: default;
    color: var(--text--color-);
}

.navbar a {
    font-size: 15px;
    color: var(--text--color-);
    font-weight: 700;
    margin-left: 40px;
}

@media (max-width: 768px) {
    .navbar {
        display: none;
    }
}

.navbar a:hover,
.navbar a.active {
    color: var(--main--color);
}

.home {
    padding-right: 25px;
}

@media (max-width: 992px) {
    .home-img {
        display: none;
    }
}

@media (max-width: 801px) {
    .home {
        text-align: center;
    }

    .R-margin {
        margin-right: 16px;
    }

    .home {
        padding-right: 22px;
    }
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text--color-);
}

.home h3 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
}

.home h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.3;

}




span {
    color: var(--main--color);
}

.home p {
    font-size: 16px;
}


.social_media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    font-size: 18px;
    width: 40px;
    height: 40px;
    margin: 30px 15px 30px 0;
    border: 2.2px solid var(--main--color);
    color: var(--main--color);
    border-radius: 50%;
    transition: all .5s ease;
}

.social_media a i:hover,
.social_media a:hover {
    color: var(--snd--bg-color);
    background: var(--main--color);
    box-shadow: 0 0 16px var(--main--color);
}

.btn {
    color: var(--bg--color);
    border-radius: 64px;
    letter-spacing: 1.6px;
    font-weight: 700;
    display: inline-block;
    box-shadow: 0 0 12px var(--main--color);
    font-size: 16px;
    background: var(--main--color);
    padding: 12px 18px;
    transition: all .5s ease;
}

.btn:hover {
    box-shadow: none;
}


/* ABOUT-SECTION */

.about {
    background: var(--snd--bg-color);

}

.about-content {
    text-align: center;
    color: var(--text--color-);

}

.about-content h2 {
    font-size: 45px;

}

.about-content h3 {
    font-size: 26px;

}

.about-content p {
    max-width: 750px;
    margin: 30px auto;
    font-size: 16px;
}

.expertise {
    margin: 40px 0;
}

.expertise h2 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 45px;
    color: var(--text--color-);
}




.expertise_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 26px;
    width: 100%;
}

.expertise_container .exp_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 100px;
    /* width: 230px; */
    gap: 16px;
    background: var(--bg--color);
    padding: 50px;
    border-radius: 26px;
    border: .2rem solid var(--bg--color);
    transition: .5s ease;
}



.expertise_container .exp_box:hover {
    border-color: var(--main--color);
    transform: scale(1.06);

}

.exp_box h3 {
    color: var(--text--color-);
    font-size: 20px;
}

.exp_box i {
    color: var(--main--color);
    font-size: 50px;
}

.circle {
    background-color: blue;
    width: 85px;
    display: flex;
    height: 85px;
    justify-content: center;
    border-radius: 50%;
    position: relative;
    align-items: center;

}

.circle::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
    z-index: 1;

}

.circle_inner {
    width: 65px;
    height: 65px;
    background: var(--bg--color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    color: var(--text--color-);
    font-size: 14px;

}


/* PORTFOLIO-SECTION */

.portfolio h2 {
    font-size: 45px;
    margin-bottom: 40px;
    text-align: center;
    color: var(--text--color-);
}

.portfolio_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 40px;
}


.portfolio_container .portfolio_box {
    display: flex;
    overflow: hidden;
    box-shadow: 0 0 16px var(--bg--color);
    border-radius: 24px;
    position: relative;
}

.portfolio_box img {
    width: 100%;
    opacity: 0.7;
    transition: all .5s;
}

.portfolio_box:hover img {
    transform: scale(1.1);
}

.portfolio_box .portfolio_layer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main--color));
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 44px;
    transform: translateY(100%);
    transition: .5s ease;
    color: var(--text--color-);
    gap: 8px;
}

.portfolio_box:hover .portfolio_layer {
    transform: translateY(0);
}

.portfolio_layer h4 {
    font-size: 24px;
    font-weight: 800;

}

.portfolio_layer p {
    font-size: 15px;
    margin-bottom: 10px;
}

.portfolio_icon a {
    padding: 10px;
    color: var(--text--color-);
}

.portfolio_icon i {
    font-size: 22px;
}

@media (max-width: 1300px) {
    .portfolio_layer {
        padding: 0 30px !important;
    }

    .portfolio_layer h4 {
        font-size: 20px;

    }

    .portfolio_layer p {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .portfolio_icon a {
        padding: 10px;
        color: var(--text--color-);
    }

    .portfolio_icon i {
        font-size: 18px;
    }
}

@media (max-width: 900px) {
    .portfolio_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .portfolio_layer {
        padding: 0 36px !important;
    }

    .portfolio_layer h4 {
        font-size: 24px;
    }

    .portfolio_layer p {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .portfolio_icon a {
        padding: 10px;
        color: var(--text--color-);
    }

    .portfolio_icon i {
        font-size: 20px;
    }
}

@media (max-width: 690px) {
    .portfolio_container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .portfolio_layer {
        padding: 0 38px !important;
    }


}




/* contect-SECTION */

.contact h2 {
    font-size: 45px;
    color: var(--text--color-);
    text-align: center;
    margin-bottom: 30px;
}

.contact_info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 30px;
}

.contact_info .contact_info_box {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1 1 100px;
    gap: 16px;
    padding: 30px;
    border-radius: 24px;
    background: var(--snd--bg-color);
    border: 3.2px solid var(--bg--color);
    transition: all .5s ease;
}

.contact_info .contact_info_box:hover {
    border-color: var(--main--color);
    transform: scale(1.02);
}

.contact_info_box i {
    color: var(--main--color);
    font-size: 26px;

}

.contact_info_box h4 {
    color: var(--text--color-);
}

.contact_info_box a {
    color: var(--text--color-);
    font-size: 14px;
}


.contact form {
    margin: 16px auto;
    max-width: 55%;
    text-align: center;
    margin-bottom: 20px;
}

.input_box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 14px;
}

.input_box input {
    width: 49%;
    padding: 12px 12px;
    border-radius: 10px;
    outline: none;
    border: none;
    color: var(--text--color-);
    font-size: 16px;
    background: var(--snd--bg-color);
}

textarea,
.sub {
    background: var(--snd--bg-color);
    outline: none;
    border: none;
    color: var(--text--color-);
    padding: 12px 12px;
    border-radius: 10px;
    resize: none;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: 10px 0;
}

.sub_btn {
    border: none;
    margin: 20px 0 24px;
}

@media (max-width: 992px) {
    .contact {
        min-height: auto;
    }
}


/* FOTTER-SECTION */

.footer {
    background: var(--snd--bg-color);
    padding: 22px 142px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.footer_text p {
    color: var(--text--color-);
    font-size: 16px;
}

.footer_icon a {
    background: var(--main--color);
    padding: 8px 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.footer_icon i {
    font-size: 24px;
    color: var(--bg--color);
}