@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
    list-style: none;
}

:root {
    --text--color-: #fff;
    --bg--color: #191f36;
    --snd--bg-color: #262840;
    --main--color: #5982f4;
}

html {
    overflow-x: hidden;
}

body {
    background-color: var(--bg--color);
}

section {
    padding: 40px 142px 20px;
}

@media (max-width: 1100px) {
    section {
        padding: 40px 20px;
    }
}


/* HEADER-SECTION */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    padding: 20px 142px;
    background: rgba(38, 40, 64, 0.8);
    backdrop-filter: blur(8px);
}

@media (max-width: 1100px) {
    header {
        padding: 20px 22px;
    }

}

.logo {
    font-size: 26px;
    font-weight: 700;
    cursor: default;
    color: var(--text--color-);
}

@media (max-width: 556px) {
    .logo {
        font-size: 22px;
    }
}

.navbar a {
    font-size: 15px;
    color: var(--text--color-);
    font-weight: 700;
    margin-left: 40px;
}

.navbar_List {
    display: flex;
}

@media (max-width: 600px) {
    .navbar {
        display: none;
    }
}

@media (min-width: 600px) {
    #sideNav {
        display: none;
    }

    #menubtn {
        display: none;
    }
}

.navbar a:hover,
.navbar a.active_home {
    color: var(--main--color);

}


/* HOME-SECTION */

.home {
    padding-right: 25px;
}

@media (max-width: 992px) {
    .home-img {
        display: none;
    }

}

.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text--color-);
    height: 100%;
}

.home h3 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
}

.home h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.3;

}

.home p {
    font-size: 20px;
    font-weight: 300;
}

span {
    color: var(--main--color);
}


.social_media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    font-size: 18px;
    width: 40px;
    height: 40px;
    margin: 30px 15px 30px 0;
    border: 2.2px solid var(--main--color);
    color: var(--main--color);
    border-radius: 50%;
    transition: all .5s ease;
}

.social_media a i:hover,
.social_media a:hover {
    color: var(--snd--bg-color);
    background: var(--main--color);
    box-shadow: 0 0 16px var(--main--color);
}

.btn {
    color: var(--bg--color);
    border-radius: 64px;
    letter-spacing: 1.6px;
    font-weight: 700;
    display: inline-block;
    box-shadow: 0 0 12px var(--main--color);
    font-size: 16px;
    background: var(--main--color);
    padding: 10px 24px;
    letter-spacing: 0.7px;
    transition: all .5s ease;
}

.btn:hover {
    box-shadow: none;
}

@media (max-width: 992px) {
    .home {
        display: flex;
        justify-content: center;
    }

    .social_media a {
        margin: 26px 7px !important;
    }

    .home {
        text-align: center;
        padding: 100px 20px 40px;
    }


    .home h3 {
        font-size: 26px;

    }

    .home h1 {
        font-size: 48px;

    }

    .social_media a {
        font-size: 18px;
        width: 38px;
        height: 38px;
        border: 2px solid var(--main--color);
        margin: 26px 10px 26px 0;
    }

    .btn {
        font-size: 15px;
        padding: 11px 19px;
    }
}

@media (max-width: 656px) {

    .home h3 {
        font-size: 23px;
    }

    .home h1 {
        font-size: 44px;

    }

    .home p {
        font-size: 18px;
        font-weight: 300;
    }

    .social_media a {
        font-size: 18px;
        width: 38px;
        height: 38px;
        border: 1.9px solid var(--main--color);
        margin: 26px 10px 26px 0;
    }

    .btn {
        font-size: 14px;
        padding: 10px 18px;
    }
}

@media (max-width: 1100px) and (min-width: 993px) {
    .home-content {
        padding-left: 60px !important;
    }

    .home_Img {
        width: 500px !important;
    }

    .home h3 {
        font-size: 28px;
    }

    .home h1 {
        font-size: 50px;

    }

    .social_media a {
        font-size: 16px;
        width: 40px;
        height: 40px;
        margin: 28px 12px 28px 0;
        border: 2.1px solid var(--main--color);
        color: var(--main--color);
    }

    .btn {
        font-size: 15px;
        padding: 10px 22px;
    }

}


/* ABOUT-SECTION */
.about>h2 {
    text-align: center;
    color: var(--text--color-);
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 40px;
}

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.about-text {
    font-size: 16px;
    line-height: 1.7;
    color: var(--text--color-);
    width: 50%;
}

.about-text p {
    margin-bottom: 16px;
}

.skills {
    background: var(--snd--bg-color);
    padding: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.09);
    border-radius: 20px;
    width: 50%;

}

.skills h2 {
    margin-bottom: 15px;
    font-size: 24px;
    color: var(--text--color-);
}

.skills ul {
    list-style: none;
    padding: 0;
}

.skills li {
    border-radius: 10px;
    background: var(--bg--color);
    margin: 10px 0;
    padding: 10px 15px;
    font-weight: 600;
    color: var(--text--color-);
    transition: 0.3s ease;
}

.skills li i {
    font-size: 18px;
    transition: color 0.3s ease;
    margin-right: 16px;
}

.skills li:hover {
    background: var(--main--color);
    transform: translateX(5px);
    color: var(--bg--color);
    font-weight: 800;
}



@media(max-width: 700px) {
    .about-content {
        flex-direction: column;

    }

    .about-text {

        width: 100%;
    }


    .skills {
        padding: 20px;
        width: 100%;
    }

    .skills li:hover {

        font-weight: 600;
    }

    .about>h2 {
        font-size: 30px;
    }

    .skills h2 {

        font-size: 20px;

    }

    .skills li i,
    .skills li {
        font-size: 16px;
    }

}

/* PORTFOLIO-SECTION */

.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.portfolio h2 {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
    color: var(--text--color-);
}

.portfolio_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 25px;
}

.portfolio_box {

    display: flex;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 10px var(--bg--color);
    position: relative;

}

.img-area {

    width: 100%;
    min-height: 280px;
    border-radius: 15px;
    transition: all 3s linear;
    background-image: url(../Images/Salt.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    opacity: 0.9;

}

.portfolio_layer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(89, 130, 244, 0.4), rgba(0, 0, 0, 0.4));
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 44px;
    transform: translateY(100%);
    transition: .5s ease;
    color: var(--text--color-);
    gap: 8px;
    z-index: 2;
}

.portfolio_box:hover .portfolio_layer {
    transform: translateY(0);
}

.portfolio_box:hover .img-area {
    background-position: bottom;
    cursor: pointer;
}

.portfolio_layer h4 {
    font-size: 24px;
    font-weight: 700;

}

.portfolio_layer p {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 22px;
    word-spacing: 1px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);

}

.portfolio_icon a {
    padding: 20px;
    font-size: 16px;
    color: var(--text--color-);
}

.portfolio_icon a i {
    font-size: 18px;
}

.portfolio_icon a:hover {
    color: var(--main--color);
}

@media (max-width: 1300px) {
    .portfolio_layer {
        padding: 0 30px !important;
    }

    .portfolio_layer h4 {
        font-size: 20px;

    }

    .portfolio_icon a {
        padding: 10px;
        color: var(--text--color-);
    }

    .portfolio_icon i {
        font-size: 18px;
    }
}

@media (max-width: 900px) {
    .portfolio_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .portfolio_layer {
        padding: 0 36px !important;
    }

    .portfolio_layer h4 {
        font-size: 24px;
    }

    .portfolio_layer p {
        font-size: 14px;
        font-weight: 600;
    }

    .portfolio_icon a {
        padding: 10px;
        color: var(--text--color-);
    }

    .portfolio_icon i {
        font-size: 20px;
    }
}

@media (max-width: 566px) {
    .portfolio_container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
    }

    .portfolio_layer {
        padding: 0 38px !important;
    }

}

@media (max-width: 556px) {
    .portfolio h2 {
        font-size: 30px;
    }
}



/* CONTECT-SECTION */

.contact {
    background-color: #16182d;
}

.contact h2 {

    font-weight: 700;
    text-align: center;
    font-size: 40px;
    color: var(--text--color-);
    margin-bottom: 40px;
}

@media (max-width: 556px) {
    .contact h2 {
        font-size: 30px;
    }
}

.contact_info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 24px;
}

.contact_info .contact_info_box {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1 1 100px;
    gap: 14px;
    padding: 30px;
    border-radius: 14px;
    background: var(--snd--bg-color);
    border: 2px solid #16182d;
    transition: all .5s ease;
}

@media (max-width: 496px) {
    .contact_info {
        margin-bottom: 0px;
        row-gap: 6px;
    }

    .contact_info_box a {
        font-size: 14px;
    }
}

.contact_info .contact_info_box:hover {
    border-color: var(--main--color);
    transform: scale(1.02);
}

.contact_info_box i {
    color: var(--main--color);
    font-size: 26px;

}

.contact_info_box h4 {
    color: var(--text--color-);
}

.contact_info_box a {
    color: #85868b;
    font-size: 16px;
}

@media (max-width: 420px) {
    .contact_info_box a {
        font-size: 14px;
    }
}


.contact form {
    margin: 8px auto 0;
    max-width: 650px;
    text-align: center;
    margin-bottom: 20px;
}

.input_box {
    display: flex;
    justify-content: center;
    gap: 14px;
}

.input_box input {
    width: 49%;
    padding: 12px 12px;
    border-radius: 10px;
    outline: none;
    border: none;
    color: var(--text--color-);
    font-size: 16px;
    background: var(--snd--bg-color);
}

textarea,
.sub {
    background: var(--snd--bg-color);
    outline: none;
    border: none;
    color: var(--text--color-);
    padding: 12px 12px;
    border-radius: 10px;
    resize: none;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: 10px 0;
}

.sub_btn {
    border: none;
    margin: 20px 0 0;
}

@media (max-width: 992px) {
    .contact {
        min-height: auto;
    }
}

@media (max-width: 486px) {
    .input_box {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .input_box input {
        width: 100%;
    }

}


/* FOTTER-SECTION */

.footer {
    background: var(--snd--bg-color);
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.footer_text p {
    color: var(--text--color-);
    font-size: 16px;
}

.footer_icon a {
    background: var(--main--color);
    padding: 8px 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.footer_icon i {
    font-size: 24px;
    color: var(--bg--color);
}

@media (max-width: 992px) {
    .footer {
        padding: 22px 20px;

    }

    .footer_text p {

        font-size: 14px;
    }

    .footer_icon i {
        font-size: 20px;
    }
}